body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #777;
  display: grid;
  grid-template-rows: 15% auto;
  grid-template-areas: 
  "nav"
  "main";
}

.nav {
  grid-area: nav;
  background-color: red;
  height: 45px;
  border-style: groove;
  padding-top: 20px;
}

.nav > li {
  display: inline;
  margin: 85px;
  
}

.navLink {
  color: white;
  font-weight: 400;
  font-size: x-large;
}

/*get rid of bullet points on lists */
ul {
  list-style-type: none;
}

.container {
  text-align: center;
  padding-top: 25px;
}

.past_order_list {
  padding-top: 15px;
  padding-right: 75px;
}

.container > * {
  /* display: inline-block; */
}

.card-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-areas: "image first second";
}

.card-container  img {
  height: 250px;
  width: 300px;
}

.card-container .rest-img{
  grid-area: image;
}

.card-container .top-card {
  grid-area: first;
  display: inline-block;
  padding-top: 30px;
  font-weight: bold;
}

.card-container .bottom-card {
  grid-area: second;
  display: inline-block;
  padding-top: 30px;
}

.food_name {
  font-weight: heavy;
  font-size: 150%;
}

.price {
  font-size: 150%;
}

.title{
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  border: dashed;
  padding-top: 10px;
}
