body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #777;
  display: grid;
  grid-template-rows: 15% auto;
  grid-template-areas: 
  "nav"
  "main";
}

.nav {
  grid-area: nav;
  background-color: red;
  height: 45px;
  border-style: groove;
  padding-top: 20px;
}

.nav > li {
  display: inline;
  margin: 85px;
  
}

.navLink {
  color: white;
  font-weight: 400;
  font-size: x-large;
}

/*get rid of bullet points on lists */
ul {
  list-style-type: none;
}

.container {
  text-align: center;
  padding-top: 25px;
}

.past_order_list {
  padding-top: 15px;
  padding-right: 75px;
}

