body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  color: #777;
  display: grid;
  grid-template-rows: 15% auto;
  grid-template-areas: 
  "nav"
  "main";
}

.nav {
  grid-area: nav;
  background-color: red;
  height: 45px;
}

.nav > li {
  display: inline;
  margin: 85px;
  
}

.navLink {
  color: white;
  font-weight: 400;
  font-size: x-large;
}

/*get rid of bullet points on lists */
ul {
  list-style-type: none;
}

.container {
  text-align: center;
}

.container > * {
  /* display: inline-block; */
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "image first second";
}

.card-container  img {
  height: 130px;
  width: 130px;
  grid-area: image;
  float:left;
}

.card-container .top-card {
  grid-area: first;
  display: inline-block;
}

.card-container .bottom-card {
  grid-area: second;
  display: inline-block;
}